<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        {{ '::Welcome_Title' | abpLocalization }}
      </h5>
    </div>
    <div class="card-body">
      @if(!hasLoggedIn){
      <button class="btn btn-primary mb-2" (click)="login()">
        {{ 'AbpUi::Login' | abpLocalization }}
      </button>
      }

      <p>{{ '::Welcome_Text' | abpLocalization }}</p>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
      <div *ngFor="let member of memberList" class="row">
        <div class="col">{{ member.name }}</div>
        <div class="col">{{ member.surname }}</div>
        <div class="col">{{ member.id_Passport }}</div>
        <div class="col">{{ member.fscaRegistrationNumber }}</div>
        <div class="col">{{ member.investmentPortfolio }}</div>
        <div class="col">{{ member.investmentAmount }}</div>
        <div class="col">{{ member.reasonForTransfer }}</div>
        <div class="col">{{ member.accountNumber }}</div>
        <div class="col">{{ member.taxNumber }}</div>
        <div class="col">{{ member.policyNumber }}</div>
      </div>
    </div>
  </div>
</div>
